<html>
<head>
	<title>Олимпиада</title>
	
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <!--<link rel="stylesheet" href="js/highslide/highslide.css" media="screen, projection" />-->
	
	<script type="text/javascript" src="js/jquery.js"></script>
    <!--<script src="js/highslide/highslide-full.js"></script>-->
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<div id="wrap">
	<div id="header">
		<div id="logo">
		</div>
		<div id="timer">
			<div id="t_info">
				До окончания олимпиады осталось
			</div>
			<div id="t_time" time="15 Mart 2014 10:00">
				12:25:37
			</div>
		</div>
	</div>
	<div id="nav">
		<ul>
			<li><a href="">Главная</a></li>
			<li><a href="">Новости</a></li>
			<li><a href="">Команды</a></li>
			<li><a href="">Положение</a></li>
			<li><a href="">Контакты</a></li>
		</ul>
		<div id="auth_team">Название авторизованной команды</div>
	</div>
	<div id="sideleft">
		<h3>Этапы заданий</h3>
		<ul>
			<li><a href="">Первое задание с длинным названием не понятно о чем</a></li>
			<li><a href="">Второе задание с длинным названием не понятно о чем</a></li>
			<li><a href="">Третье задание с длинным названием не понятно о чем</a></li>
			<li><a href="">Четвертое задание с длинным названием не понятно о чем</a></li>
			<li><a href="">Пятое задание с длинным названием не понятно о чем</a></li>
			<li><a href="">Шестое задание с длинным названием не понятно о чем</a></li>
			<li><a href="">ННое задание с длинным названием не понятно о чем</a></li>
		</ul>
	</div>
	<div id="content">
		<h2>Главная</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
	</div>
	<div id="sideright">
		<div id="rating">
			<h3>Рейтинг команд</h3>
			<div class="team">
				<span class="team_name">Anonymous</span>
				<span class="team_rating">530</span>
				<div class="clear"></div>
			</div>
			<div class="team">
				<span class="team_name">Anonymous new</span>
				<span class="team_rating">480</span>
				<div class="clear"></div>
			</div>
			<div class="team">
				<span class="team_name">Anonymous noname</span>
				<span class="team_rating">400</span>
				<div class="clear"></div>
			</div>
		</div>
		<div id="news">
			<h3>Новости</h3>
			<div class="news">
				<span class="date">20.03.14</span>
				<p>Описание новости</p>
			</div>
			<div class="news">
				<span class="date">20.03.14</span>
				<p>Описание новости</p>
			</div>
			<div class="news">
				<span class="date">20.03.14</span>
				<p>Описание новости</p>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div id="footer">
		&copy; 2014. IT Fest. Все права защищены.
	</div>
</div>
</body>
</html>